:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --template-color-1:#fff;
  --template-color-2:#000;
  --template-color-3:#b29016;
  --template-color-4:#999;
  --template-color-5:#383838;
  --template-color-grad: linear-gradient(to right, rgb(255, 248, 175), rgba(255, 0, 0, 0.853));

}
/* get rids of the banner at the bottom of the web page */
.translated-ltr {
  visibility: hidden !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding-left: 0px !important;
  padding-right: 0px!important;
}
/* src/assets/styles.css or any global stylesheet */
.cursor{
  cursor: pointer;
}
/* homepage */
.headline_color{
  color: var(--template-color-2);
}
.headline_color_1{
  color: var(--template-color-3);
}
.headline_color_2{
  color: var(--template-color-4);
}
.headline_color_3{
  color: var(--template-color-5);
  -webkit-text-stroke: 0.1px rgb(168, 168, 168)
}


.main_headline{
  font-size: clamp(40px, 4vw ,70px);
}
.number{
  font-size: clamp(130px, 4vw ,160px);
}
.sub_main_headline{
  font-size: clamp(30px, 4vw ,40px);
}
.sub_header{
  font-size: clamp(20px, 4vw ,30px);
}
.para_header{
  font-size: clamp(15px, 3vw ,25px);
}
.para_text{
  font-size: clamp(12px, 3vw ,16px);
}
.nav_list{
  font-size: 18px;
}
.grad_btn{
  background-image: var(--template-color-grad);
  color: var(--template-color-1);
  font-size: 18px;
  border: 2px groove var(--template-color-3);
}

/* ?HOMEPAGE */
.herobg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.749), rgba(0, 0, 0, 0.197) 70%), url('@/assets/images/DAL.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lineherobg {
  background:
      url('../assets/images/line.png') repeat-x center;
  background-size: contain;
  height: 50px
}