:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  top: 0 !important;
}
/* get rids of the banner at the bottom of the web page */
.translated-ltr {
  visibility: hidden !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/assets/styles.css or any global stylesheet */

.header-2 {
  background-image: linear-gradient(to right, #dd850a, #ffffff);
  color: white;
  transition: 0.3s;
} 