:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* get rids of the banner at the bottom of the web page */
.translated-ltr {
  visibility: hidden !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding-left: 0px !important;
  padding-right: 0px!important;
}
/* src/assets/styles.css or any global stylesheet */

/* homepage */

.herobg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.749), rgba(0, 0, 0, 0.197) 70%), url('@/assets/images/hero-99.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.lineherobg {
  background:
      url('../assets/images/line.png') repeat-x center;
  background-size: contain;
  height: 50px
}